---
import TeamSelectorCards from '@components/TeamSelectorCards.astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import TeamPagePlayers from '@components/TeamPagePlayers.astro'
import { getAllTeams, getPlayersTwelveFor } from '@services/teams.js'
import { findPresidentBy } from '@services/presidents.js'

// import instagram from '../../logos/static/logos/social/instagram.svg'
// import tiktok from '../../logos/static/logos/social/tiktok.svg'
// import twitch from '../../logos/static/logos/social/twitch.svg'
// import twitter from '../../logos/static/logos/social/twitter.svg'
// import youtube from '../../logos/static/logos/social/youtube.svg'
import TeamStats from '@components/TeamStats.astro'

const ICON_NETWORKS = ['instagram', 'tiktok', 'twitch', 'twitter', 'youtube']

export async function getStaticPaths() {
	const teams = await getAllTeams()

	return teams.map((team) => ({
		params: { id: team.id },
		props: { ...team }
	}))
}

const { id, name, presidentId, players, imageWhite, color, socialNetworks } = Astro.props

const socialNetworksWithIcon = socialNetworks.map((href) => ({
	href,
	icon: ICON_NETWORKS.find((key) => href.includes(key))
}))

const president = await findPresidentBy({ id: presidentId })

const playersTwelve = await getPlayersTwelveFor({ teamId: id })
---

<Layout title={name}>
	<section class='bg-[#cd5500] py-20'>
		<Container>
			<div
				class='relative rounded bg-gradient-to-tr from-gray-600 to-gray-900 shadow-xl -mt-10 z-10 mb-40 p-20'
				style={`--tw-gradient-from: ${color}`}
			>
				<section class='flex items-center justify-between pb-60'>
					<div class='flex flex-col items-center'>
						<!-- logo, image and social media -->
						<div class='flex items-center gap-x-8'>
							<img class='w-48 h-48' src={imageWhite} alt={`Escudo del equipo ${name}`} />
							<div class='flex flex-col gap-y-4'>
								<h1 class='font-title font-bold text-6xl text-white'>{name}</h1>
								<ul class='flex gap-x-6'>
									{
										socialNetworksWithIcon.map(({ href, icon }) => {
											return (
												<li>
													<a
														class='block transition hover:scale-150'
														href={href}
														target='_blank'
														rel='noopener noreferrer'
													>
														<img class='w-8 h-8 invert' src={`/logos/${icon}.svg`} alt={icon} />
													</a>
												</li>
											)
										})
									}
								</ul>
							</div>
						</div>

						<!-- president -->
						<div class='absolute -top-20 right-20 -z-10 text-center'>
							<img
								class='block w-65 h-auto aspect-[170/239]'
								src={president.image}
								alt={president.name}
							/>
							<strong class='text-white text-xl font-title -mt-6 block'>{president.name}</strong>
						</div>
						<TeamStats teamId={id} />
					</div>
				</section>

				<TeamPagePlayers title='Jugadores' players={players} />
				<TeamPagePlayers title='Jugador 12' players={playersTwelve} />

				<section class='my-2'>Estadísticas</section>

				<a class='text-blue-500 underline' href='/'>Volver</a>

				<div
					class='-z-10 absolute inset-0 opacity-10 bg-center bg-[size:80%] transition bg-no-repeat'
					style={`background-image: url('${imageWhite}')`}
				>
				</div>
			</div>
		</Container>

		<Container>
			<div
				class='overflow-hidden shadow-xl -mt-10 z-10 mb-40 bg-white p-20 pt-5'
				style={`--tw-gradient-from: ${color}`}
			>
				<h2>Todos los equipos</h2>
				<TeamSelectorCards />
			</div>
		</Container>
	</section>
</Layout>
