---
import Leaderboard from '@components/Leaderboard.astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import PlayerPrizeCard from '@components/PlayerPrizeCard.astro'

import { getFirstPlayersStatistics } from '@services/statistics'
import NextMatchesTable from '@components/NextMatchesTable.astro'

const { mvp, topScorer, topAssister } = await getFirstPlayersStatistics()
---

<Layout title='Kings League Infojobs'>
	<main>
		<section class='bg-[#cd5500] py-20'>
			<Container>
				<div class='grid grid-cols-8 gap-10 w-full px-10'>
					<div class='col-span-12 lg:col-span-4 xl:col-span-3 flex flex-col gap-4'>
						<NextMatchesTable />
						<Leaderboard format='small' />
					</div>
					<div class='col-span-12 lg:col-span-4 xl:col-span-5'>
						<div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
							{
								mvp && (
									<div class='col-span-6'>
										<PlayerPrizeCard
											teamId={mvp.teamId}
											playerName={mvp.playerName}
											teamName={mvp.team}
											playerImage={mvp.playerImage}
											teamImage={mvp.image}
											title='MVP'
											subtitle='Jornada 1'
										/>
									</div>
								)
							}
							<div class='col-span-6 xl:col-span-3'>
								{
									topScorer && (
										<PlayerPrizeCard
											smallerBox
											title={topScorer.goals}
											subtitle='Goles'
											teamId={topScorer.teamId}
											playerName={topScorer.playerName}
											teamName={topScorer.team}
											playerImage={topScorer.playerImage}
											teamImage={topScorer.image}
										/>
									)
								}
							</div>
							<div class='col-span-6 xl:col-span-3'>
								{
									topAssister && (
										<PlayerPrizeCard
											smallerBox
											title={topAssister.assists}
											subtitle='Asistencias'
											teamId={topScorer.teamId}
											playerName={topScorer.playerName}
											teamName={topScorer.team}
											playerImage={topScorer.playerImage}
											teamImage={topScorer.image}
										/>
									)
								}
							</div>
							<!-- Equipos -->
						</div>
					</div>
				</div>
			</Container>
		</section>
	</main>
	<Sponsors />
</Layout>
