---
import { getLeaderboard } from '@services/leaderboard'
import { getSchedule } from '@services/schedule'
import ScheduleRow from './ScheduleRow.astro'

import kingsLeagueLogo from '../../assets/static/logos/kings-league-infojobs-footer.svg'

const schedule = await getSchedule()

const firstDayWithPendingMatches = schedule.find(({ matches }) => {
	console.log(matches)
	const found = matches.some(({ timestamp }) => timestamp === null)
	return found
})
---

<div class='relative overflow-x-auto shadow-md sm:rounded-lg'>
	<table class='text-xs w-full text-center text-black'>
		<thead class='font-black text-white uppercase bg-black'>
			<tr>
				<th
					scope='col'
					colspan='5'
					class='2-full px-6 py-3 text-center flex items-center justify-between'
				>
					<img
						class='brightness-[1000]'
						src={kingsLeagueLogo}
						alt='logo de Kings League y Infojobs'
						loading='lazy'
						decoding='async'
						fetchpriority='low'
						width='208'
						height='92'
					/>
					<div class='flex flex-col text-right'>
						<h2 class='font-title text-xl'>Jornada 2</h2>
						<h3 class='opacity-70'>8 de enero de 2023</h3>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			{
				firstDayWithPendingMatches.matches.map((match) => (
					<ScheduleRow
						useSmallNames
						local={match.teams[0]}
						visitant={match.teams[1]}
						score={match.score}
						timestamp={match.timestamp}
						hour={match.time}
					/>
				))
			}
		</tbody>
	</table>
</div>
