---
const { players, title } = Astro.props
const playerName = (player) => (player.dorsalName ? player.dorsalName : player.name)
---

<section>
	<h2 class='font-title text-white text-5xl text-center py-10'>{title}</h2>
	<div class='grid grid-cols-4 gap-2'>
		{
			players.map((player) => (
				<article class='text-center font-title text-white rounded-sm p-5 m-auto'>
					<img
						class='w-56 h-auto m-auto aspect-[170/239]'
						src={`https://kings-league.maycobarale.workers.dev/static/players/${player.image}`}
						alt={playerName(player)}
					/>
					<h3 class='font-title text-3xl pt-2'>{playerName(player)}</h3>
					<p class='font-body uppercase text-orange-500 font-semibold bg-slate-900/70 rounded-full py-1'>
						{player.role}
					</p>
				</article>
			))
		}
	</div>
</section>
